html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.simple-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}





