/* defaults */
html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.text-default {
  margin: 0;
  padding: 0;
}

/* text */
.text-regular {
  font-family: stratos, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-sbold {
  font-family: stratos, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.text-white {
  color: #eee5e0;
}

.text-purple {
  color: #6d47ef;
}

.text-purple-hover:hover {
  color: #6d47ef;
}

.text-small {
  font-size: 1.4rem;
}

.text-semibig {
  font-size: 3.6rem;
}

.text-on-bg {
  line-height: 1.03em;
  padding: 0 10px;
  padding-bottom: 0.18em;
  margin-bottom: 0.067em;
}

/* bg */

.bg-orange {
  background-color: #e57e51;
}

.bg-purple {
  background-color: #8899ff;
}

/* modifiers */

.simple-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.inline-list > li {
  display: inline;
}

.hidden {
  display: none;
}

.ib {
  display: inline-block;
}

.bb {
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
  right: 0;
  left: 0;
}

.vcenter-abs {
  top: 50%;
  transform: translateY(-50%);
}

.v36percent-abs {
  top: 36%;
  transform: translateY(-36%);
}

.v32percent-abs {
  top: 32%;
  transform: translateY(-32%);
}

.fill-width {
  width: 100%;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.overlay1 {
  z-index: 1000;
}

/* blocks */

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

.flex-initial {
  flex: initial;
}

.flex-auto {
  flex: auto;
}

.col3-m6 {
  max-width: 36rem;
}

.col12-m11 {
  max-width: 118rem;
}

.col14-m11 {
  max-width: 134rem;
}

.full-width {
  max-width: 192rem;
}

/* alignment */

.align-right {
  text-align: right;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-small {
  margin-top: 15px;
}

.mt-sssmall {
  margin-top: 10px;
}

.mt-llllarge {
  margin-top: 215px;
}

.ml-small {
  margin-left: 15px;
}

.pl-tiny {
  padding-left: 5px;
}

.pr-tiny {
  padding-right: 5px;
}

.pt-medium {
  padding-top: 60px;
}

.pt-sssmall {
  padding-top: 10px;
}

.pb-ssmall {
  padding-bottom: 12px;
}

.pl-ssmall {
  padding-left: 12px;
}

.pl-large {
  padding-left: 65px;
}

.pr-large {
  padding-right: 65px;
}

/* objects */

.main-header {
  background-image: url("/images/bg_preto.jpg");
}

.logo {
  width: 130px;
}

.slideshow-larrow {
  background-image: url("/images/seta_esq.png");
  width: 28px;
  height: 49px;
}

.slideshow-larrow:hover {
  background-image: url("/images/seta_esq_hover.png");
}

.slideshow-rarrow {
  background-image: url("/images/seta_dir.png");
  width: 28px;
  height: 49px;
}

.slideshow-rarrow:hover {
  background-image: url("/images/seta_dir_hover.png");
}

/* resets */

.no-mb {
  margin-bottom: 0;
}
